<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /Geosport HOD/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /Geosport HOD/index.html [L]
</IfModule>
